/* reseteo CSS */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
/*}
.indexContenedor{
  display: grid;
	grid-template-columns: 1fr 2fr);
	grid-template-rows: 1fr auto 0.3fr;
	grid-template-areas: "header header header"
			 "contenido contenido personal"
			 "aptitudes experiencia personal"
			 "footer footer footer";
}*/
  header{
    background-color: #131335;
    border-bottom: solid white 2px;
    overflow: hidden;
  }
  /* menu navegacion */
nav{
    padding: 1rem;
    display: inline;
    position: right;
    float: right;
  }
  nav ul{
    list-style: none;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
  }
  .menu{
    display: inline;
    list-style-type: none;
    margin: 10px;
  }
  .menu li{
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #5b6bea;
  }
  .menu li a{
    text-decoration: none;
    color: white;
  }
  .menu li a:hover{
  color: yellow;
  text-decoration: underline;
  }
  /* fin menu navegacion */
  h1{
    text-align: center;
    color: white;
    display: inline-flex;
    vertical-align: middle;
    background-color: black;
  }
  .home{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
    "logo nav nav nav"
    "body body body body"
    "body body body body"
    "body body body body"
    "dir redes redes redes";
  }
.logo{
    background-color: #ea5bc6;
    grid-area: logo;
    overflow: hidden;
}
.menu{
    background-color: aqua;
    grid-area: nav;
}