  .empleoMain{
    grid-area: main;
    @include lookFeelPagina($color,90%);
    margin:2rem;
    h2{
      text-align: center;
    }
    h3{
      margin: 2rem;
    }
    h4{
      margin: 2rem;
    }
    ul{
      list-style:circle;
      margin: 2rem;
    }
    @media screen and (max-width: 350px){
      h3{
        margin-left: 0.5rem;
        font-size: 18px;
      }
      h4{
        margin-left: 0.5rem;
        font-size: 16px;
      }
      ul{
          margin-left: 0.5rem;
          font-size: 16px;
      }
    }
  }