.footer{
    grid-area: footer;
    border-top: solid white 2px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    ul{
        list-style: none;
        color: $colorTextoFooter;
        padding: 2rem;
        li{
            padding: 0.3rem;
            a:active{ 
            text-decoration: none; 
            color: $colorTextoFooter;
            }
        }
    }
    .redes{
      display: flex;
      justify-content: space-between;
      flex-wrap:wrap;
      img{
        margin: 1rem;
      }
    }
  }



 


