.footer{
    grid-area: footer;
    border-top: solid white 2px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    ul{
        list-style: none;
        color: white;
        padding: 2rem;
        li{
            padding: 0.3rem;
            a:active{ 
            text-decoration: none; 
            color: white;
            }
        }
    }
    .redes{
      display: flex;
      flex-wrap:wrap;     
      padding: 1rem;
      img{
        margin: 2rem;
      }
    }
  }

 


