.estiloHeader{
    background-color: #131335;
    border-bottom: solid white 2px;
    font-size: 20px;
    grid-area: header;
    h1{
        color: white;
        display: inline;
        align-self: center;
    }
}