 .solucionesMain{
    grid-area: main;
    display: flex;
    flex-direction: column;
    @include lookFeelPagina($color,90%);
    .solucionesGrilla{
        display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 0.5fr 1fr 0.3fr;
          grid-template-areas: 
            "titulo titulo"
            "imagen parrafo"
            "conocer conocer"
      }
    h2{
        grid-area: titulo;
        text-align: center;
        margin: 2rem;
    }
    .imagenSoluciones{
        grid-area: imagen;
        margin-left: 2rem;
        border: solid white;
        width: 90%;
        max-width: fit-content;
      }
    p{
        grid-area: parrafo;
        margin:2rem;
        font-size: 20px;
        line-height: 2rem;
        font-style: italic;
        display: inline-block;
    }
    .conocer{
        grid-area: conocer;
        color: $colorConocer;
        margin-left: 2rem;
        padding: 10px;
        text-decoration: underline;
        display: inline-block;
        &:hover{
            color: $colorConocerHover;
            font-style: italic;
        }
    }
    @media screen and (max-width: 1024px){
        .solucionesGrilla{
            display: grid;
              grid-template-columns: 1fr;
              grid-template-rows: repeat(4, min-content);
              grid-template-areas: 
                "titulo"
                "imagen"
                "parrafo"
                "conocer"
          }
          .imagenSoluciones{;
            border: solid white;
            width: 100%;
            margin: 1rem,3rem;
            
          }
          p{
            font-size: 16px;
            text-align: center;
          }
      }
      
  }

