/** Tecnologias **/
.tecnologiasMain{
    grid-area: main;
    @include lookFeelPagina($color,90%);
    h3{
      text-align: center;
      font-size: 24px ;
      margin: 2rem;
    }
    .tecnologiasDivContainer{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: 2rem;
      div{
        p{
            text-align: center;
            font-size: large;
        }
        img{
            width: 64px;
            border-radius: 5%;
            margin-left: 2rem;
            margin-right: 2rem;
            margin-bottom: 3rem;
          }
      }

    }
  }