.indexContenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 0.5fr;
  grid-template-areas: "header header" "main main" "footer footer";
}

body {
  background-image: url(../assets/images/3430013.jpg);
  /* por si la imagen no carga*/
  background-color: #131335;
  background-repeat: no-repeat;
  background-position: right center;
  /* esto para que la imagen cubra justo la pantalla */
  background-size: cover;
}

.estiloHeader {
  background-color: #131335;
  border-bottom: solid white 2px;
  font-size: 20px;
  grid-area: header;
}
.estiloHeader h1 {
  color: #dcef30;
  display: inline;
  align-self: center;
}

.footer {
  grid-area: footer;
  border-top: solid white 2px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.footer ul {
  list-style: none;
  color: #dcef30;
  padding: 2rem;
}
.footer ul li {
  padding: 0.3rem;
}
.footer ul li a:active {
  text-decoration: none;
  color: #dcef30;
}
.footer .redes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .redes img {
  margin: 1rem;
}

.indexMain {
  grid-area: main;
  color: #dcef30;
  width: 90%;
}
.indexMain h2 {
  margin: 2rem;
}
.indexMain p {
  margin: 2rem;
  font-size: 20px;
  line-height: 2rem;
  font-style: italic;
}

.solucionesMain {
  grid-area: main;
  display: flex;
  flex-direction: column;
  color: #dcef30;
  width: 90%;
}
.solucionesMain .solucionesGrilla {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.3fr;
  grid-template-areas: "titulo titulo" "imagen parrafo" "conocer conocer";
}
.solucionesMain h2 {
  grid-area: titulo;
  text-align: center;
  margin: 2rem;
}
.solucionesMain .imagenSoluciones {
  grid-area: imagen;
  margin-left: 2rem;
  border: solid white;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.solucionesMain p {
  grid-area: parrafo;
  margin: 2rem;
  font-size: 20px;
  line-height: 2rem;
  font-style: italic;
  display: inline-block;
}
.solucionesMain .conocer {
  grid-area: conocer;
  color: #dcef30;
  margin-left: 2rem;
  padding: 10px;
  text-decoration: underline;
  display: inline-block;
}
.solucionesMain .conocer:hover {
  color: #ee82ee;
  font-style: italic;
}
@media screen and (max-width: 1024px) {
  .solucionesMain .solucionesGrilla {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.3fr;
    grid-template-areas: "titulo" "imagen" "parrafo" "conocer";
  }
}

/** Tecnologias **/
.tecnologiasMain {
  grid-area: main;
  color: #dcef30;
  width: 90%;
}
.tecnologiasMain h3 {
  text-align: center;
  font-size: 24px;
  margin: 2rem;
}
.tecnologiasMain .tecnologiasDivContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2rem;
}
.tecnologiasMain .tecnologiasDivContainer div p {
  text-align: center;
  font-size: large;
}
.tecnologiasMain .tecnologiasDivContainer div img {
  width: 64px;
  border-radius: 5%;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
}

.contactoMain {
  grid-area: main;
  font-size: large;
  color: #dcef30;
  width: 90%;
}
.contactoMain h2 {
  text-align: center;
  margin-top: 2rem;
}

.empleoMain {
  grid-area: main;
  color: #dcef30;
  width: 90%;
  margin: 2rem;
}
.empleoMain h2 {
  text-align: center;
}
.empleoMain h3 {
  margin: 2rem;
}
.empleoMain h4 {
  margin: 2rem;
}
.empleoMain ul {
  list-style: none;
  margin: 2rem;
}/*# sourceMappingURL=style.css.map */